---
/** The name of the application to be used throughout the site. */
const applicationName = 'Developer Toolkit';
const pageTitle = 'Permission Calculator';

import PermissionCalculator from '@components/permission-calculator.svelte';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <!-- Prevents iOS Zoom on Input Focus. -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
        <title>{ pageTitle } | { applicationName }</title>
    </head>
    <body>
        <h1>{ pageTitle }</h1>
        <PermissionCalculator client:load></PermissionCalculator>
    </body>
</html>

<style lang="scss">
    body {
        font-family: 'Ubuntu', sans-serif;

        h1 {
            color: purple;
            text-align: center;
        }
    }
</style>